.nav-cont{

background-color: hsl(168, 51%, 77%);
box-sizing: content-box;


.nav-header{

            h1{

             color: hsl(168, 34%, 41%);
             font-size: 45px;
             margin: 0;
             text-align: center;
             padding: 40px;
             font-family: 'Fraunces', serif;

             @include large-tablet {
        
                font-size: 40px;

            }
        
            @include med-tablet {
           
                margin: 0px 50px;

            }
        
            @include small-tablet {
                margin: 0px 40px;

            }

            }
        }


        .nav-ul{

            display: flex;
            justify-content: center;
    
            .nav-list{

                list-style: none;
                margin: 0px 100px;

                @include large-tablet {
        
                    margin: 0px 80px;

                }
            
                @include med-tablet {
               
                    margin: 0px 60px;

                }
            
                @include small-tablet {
                    margin: 0px 40px;

                }
            

                a{
                    text-decoration: none;
                    font-family: 'Barlow', sans-serif;
                    letter-spacing: 2px;
                    color: hsl(168, 34%, 41%);
                    font-weight: 700;
                    
                }
            }

        }

        .nav-socials-cont{
     
            display: flex;
            justify-content: center;
            padding: 60px;


            .nav-socials{

            

                a{


                    margin: 0px 40px;

                    @include large-tablet {
        
                        margin: 0px 30px;
    
                    }
                
                    @include med-tablet {
                   
                        margin: 0px 20px;
    
                    }
                
                    @include small-tablet {
                        margin: 0px 15px;
    
                    }
                     img{
           

                     }

        }
       
    } 
  }

}

